<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #005caa;">
			<a class="navbar-brand" th:href="@{/}"><i class="bi bi-house-fill"></i></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMIN','ASSISTENTE' )"><a
						class="btn dropdown-toggle" href="#" id="dropdown01" style="color:white; background-color: #005caa;"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuarios</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" th:href="@{/u/admin/novo/cadastro/usuario}" 
							sec:authorize="hasAuthority('ADMIN')">Cadastro de Usuários</a>
							<a class="dropdown-item" th:href="@{/u/lista}"
							sec:authorize="hasAnyAuthority('ADMIN','ASSISTENTE' )">Lista de Usuários</a>
						</div>
					</li>
					<li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMIN','ASSISTENTE' )"><a
						class="btn dropdown-toggle" href="#" id="dropdown01" style="color:white; background-color: #005caa;"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cursos</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" th:href="@{/cursos/novo/cadastro}"
							sec:authorize="hasAuthority('ADMIN')">Cadastro de Cursos</a>
							<a class="dropdown-item" th:href="@{/cursos/lista}">Lista de Cursos</a>
						</div>
					</li>
					
					<li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMIN','ASSISTENTE' )"><a
						class="btn dropdown-toggle" href="#" id="dropdown01" style="color:white; background-color: #005caa;"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inscrições</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" th:href="@{/inscricoes/estatisticas}">Estatísticas</a>
							<a class="dropdown-item" th:href="@{/inscricoes/lista}">Lista de Inscrições</a>
						</div>
					</li>
					
					

						<li class="nav-item" sec:authorize="hasAuthority('CANDIDATO')">
							<a class="nav-link active" th:href="@{/candidatos/dados}">Cadastrar Dados</a>
						</li>
						<li class="nav-item" sec:authorize="hasAuthority('CANDIDATO')">
							<a class="nav-link active" th:href="@{/inscricoes/inscrever}">Realizar Inscrição</a>
						</li>
						<li class="nav-item" sec:authorize="hasAuthority('CANDIDATO')">
							<a class="nav-link active" th:href="@{/inscricoes/historico/candidato}">Acompanhar resultado</a>
						</li>
						
					<li class="nav-item">
    					<a class="nav-link active" aria-current="page" href="https://sites.google.com/view/senaiaraxainscricoes">Página de cursos</a>
  					</li>
  								
				</ul>

				<form class="form-inline mt-2 mt-md-0" sec:authorize="!isAuthenticated()">
					<div class="form-check mb-2 mr-sm-2">
						<a class="btn btn-outline-light my-2 my-sm-0" role="button"
							th:href="@{/login}">Login</a>
					</div>

					<div class="form-check mb-2 mr-sm-2">
						<a class="btn btn-outline-light my-2 my-sm-0" role="button"
							th:href="@{/u/novo/cadastro/usuario}">Cadastrar-se</a>
					</div>
				</form>

				<form th:action="@{/logout}" sec:authorize="isAuthenticated()"
					  method="post"  class="form-inline mt-2 mt-md-0">
					<div class="btn-group mb-2 mr-sm-2">
						<button type="button" class="btn btn-light">
							<i class="fas fa-user"></i> <span class=""
								sec:authentication="name">Bob</span>
						</button>
						<button type="button"
							class="btn btn-danger dropdown-toggle dropdown-toggle-split"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						</button>
						<div class="dropdown-menu dropleft">
							<a class="dropdown-item" th:href="@{/candidatos/dados}" sec:authorize="hasAuthority('CANDIDATO')">Meus Dados</a>
							<a class="dropdown-item" th:href="@{/assistentes/dados}" sec:authorize="hasAnyAuthority('ADMIN','ASSISTENTE' )">Neus Dados</a>
							<a class="dropdown-item" th:href="@{/u/editar/senha}">Senha</a>
							<div class="dropdown-divider"></div>
							<button type="submit" class="dropdown-item">Sair</button>
						</div>
					</div>
				</form>
			</div>
		</nav>
	</header>
</body>
</html>